.trending-slides-box {
  list-style: none;
  margin-top: 12px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tending-slides-box__item {
  background-color: rgb(255, 208, 208);
  width: 80%;
  height: 100%;
  border-radius: 7px;
}
