.nav-bar__search-menu__matching-list {
  list-style: none;
  margin-top: 20px;
  font-size: 1.8rem;
}

.nav-bar__search-menu__matching-list__item {
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  font-size: 1.5rem;
  padding: 16px 12px;
}

.nav-bar__search-menu__matching-list__item__search-icon {
  width: 20px;
}
