.search-page__page-display {
  margin-top: 20px;
  font-size: 2rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #4c4c4c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-page__page-display__open-more-btn {
  position: relative;
  padding: 10px;
}

.search-page__page-display__pages-list {
  position: absolute;
  left: -122px;
  list-style: none;
  background-color: white;
  border: 1px solid black;
  width: 150px;
  border-radius: 10px;
}

.search-page__page-display__pages-list__item {
  cursor: pointer;
  padding: 15px 10px;
}

.search-page__pagination-menu__input {
  border: none;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
}
.search-page__pagination-menu__input::placeholder {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .search-page__page-display {
    zoom: 1.3;
  }
}

@media (min-width: 1024px) {
  .search-page__page-display {
    zoom: 1.5;
  }
}
