.search-bar {
  width: 100%;
  height: 100%;
  padding: 12px 14px;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: inherit;
}

.search-bar__img {
  width: 18px;
  opacity: 0.5;
  margin-right: 10px;
}

.search-bar__form {
  width: 100%;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0.8;
}
.search-bar__input::placeholder {
  font-size: 1.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .search-bar__input,
  .search-bar__input::placeholder {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .search-bar__input {
    font-size: 1.7rem;
  }
  .search-bar__input::placeholder {
    font-size: 1.8rem;
  }
}
