.slides-title-box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.slides-title-box:first-of-type {
  margin-top: 10px;
}

.slides__title {
  font-size: 1.6rem;
}

.slides__see-all-text {
  cursor: pointer;
  opacity: 0.4;
}
.slides__see-all-text:hover {
  text-decoration: underline;
}

.slides {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  column-gap: 10px;
}

.slides .book-card {
  min-width: 120px;
}

.slides::-webkit-scrollbar {
  height: 6px;
}

.slides::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .slides__title {
    font-size: 2.2rem;
  }
  .slides__see-all-text {
    font-size: 1.9rem;
  }
  .slides .book-card {
    zoom: 1.1;
  }
}

@media (min-width: 1024px) {
  .slides__title {
    font-size: 2.2rem;
  }
  .slides .book-card {
    zoom: 1.2;
  }
}
