.nav-bar {
  padding: 15px var(--page-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 80, 221);
  height: 95px;
  color: white;
}

.nav-bar__option-btn {
  cursor: pointer;
  padding: 0px 8px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar__option-btn__img-box {
  width: 30px;
  height: 30px;
}

.nav-bar__option-btn__img-box__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
