.nav-bar {
  margin-top: 20px;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2.1fr;
}

.nav-bar__btn {
  font-weight: 500;
  border-radius: inherit;
  background-color: white;
  border: 1px solid black;
  border-radius: inherit;
  height: 100%;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .nav-bar {
    grid-template-columns: 0.5fr 0.5fr 2fr;
    height: 50px;
  }
  .nav-bar__btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .nav-bar {
    height: 60px;
    font-size: 1.4rem;
  }
}
