.home-page__main-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-page__below-nav-text-1 {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 400;
}
.home-page__below-nav-text-2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .home-page__below-nav-text-1 {
    font-size: 2rem;
  }
  .home-page__below-nav-text-2 {
    font-size: 5.4rem;
  }
}

@media (min-width: 1024px) {
  .home-page__below-nav-text-1 {
    font-size: 2.4rem;
  }
  .home-page__below-nav-text-2 {
    font-size: 6rem;
  }
}
