.search-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-top: 2px solid white;
}

.search-page-results-box {
  margin-top: 30px;
}
.search-page-results-box__line-1 {
  font-size: 1.4rem;
}
.search-page-results-box__line-2 {
  font-size: 3rem;
}

.search-page__page-display {
  margin-top: 20px;
  font-size: 2rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #4c4c4c;
}
