.search-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-top: 2px solid white;
}

.search-page-results-box__line-1 {
  margin-top: 20px;
  font-size: 1.4rem;
}
.search-page-results-box__line-2 {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .search-page-results-box__line-1 {
    margin-top: 30px;
    font-size: 1.8rem;
  }
  .search-page-results-box__line-2 {
    font-size: 4.2rem;
  }
}

@media (min-width: 1024px) {
  .search-page-results-box__line-1 {
    margin-top: 40px;
    font-size: 2.2rem;
  }
  .search-page-results-box__line-2 {
    font-size: 4.9rem;
  }
}
