.book-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-page__book-display {
  margin-top: 20px;
  width: 130px;
  text-align: center;
}

.book-page__interaction-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-page__interact-bar {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 20px;
}

.book-page__interact-bar__text {
  font-size: 1.4rem;
}

.book-page__tab-bar {
  margin-top: 20px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.book-page__tab-bar__btn {
  border: none;
  background: none;
  font-size: 1.7rem;
  font-weight: 500;
  padding-bottom: 3px;
}

.book-page__tab-bar__btn--open {
  border-bottom: 1px solid black;
}
.book-page__tab-bar__btn--closed {
  opacity: 0.5;
}
