:root {
  --page-padding: 14px;
}

html {
  font-size: 62.5%;
}

body,
button,
input {
  font-size: 1.6rem;
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.2px;
}

h2 {
  font-weight: 500;
  font-size: 1.9rem;
}

button {
  cursor: pointer;
}

.page-padding {
  padding: 0px var(--page-padding);
}

.underline-on-hover {
  cursor: pointer;
}
.underline-on-hover:hover {
  text-decoration: underline;
}

.error-text {
  font-size: 1.3rem;
  color: rgb(183, 6, 6);
}

.white-black-btn {
  border: 1px solid black;
  border-radius: 5px;
  background: none;
}
