.media-page__entry-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  border: 1px solid black;
  padding: 30px 0px;
}

.media-page__entry-box__media-display-box {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.media-page__entry-box__media-type-box {
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  border: 1px solid black;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  column-gap: 5px;
}

.media-page__entry-box__media-type-box__icon {
  width: 20px;
}

.media-page__entry-box__cover-box {
  width: 100%;
  height: 230px;
  border: 1px solid black;
}

.media-page__entry-box__media-details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.media-page__entry-box__rating-box {
  display: flex;
  column-gap: 15px;
}

.media-page__entry-box__rating-box__stars {
  display: flex;
  column-gap: 2px;
}

.media-page__entry-box__rating-box__stars__star-icon {
  width: 15px;
  column-gap: 5px;
}

.media-page__entry-box__interact-box {
  width: 230px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-page__entry-box__interact-box__side-btn {
  height: 100%;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-page__entry-box__interact-box__side-btn__icon {
  width: 15px;
}

.media-page__entry-box__interact-box__borrow-btn {
  height: 100%;
  padding: 0px 16px;
  font-weight: 600;
}

.media-page__borrows-redirect-text {
  font-size: 1.3rem;
}
