.book-page__ratings-box {
  margin-left: 17px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

@media (min-width: 768px) {
  .book-page__ratings-box {
    margin-right: 8px;
    zoom: 1.1;
  }
}

@media (min-width: 1024px) {
  .book-page__ratings-box {
    zoom: 1.2;
  }
}
