.generic-slides-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.generic-slides-box__text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9rem;
}

.generic-slides-box__list {
  list-style: none;
  padding: 0px var(--page-padding);
  margin-top: 12px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 230px;
  width: 100%;
}
