.generic-slides-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.generic-slides-box__text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9rem;
}

.generic-slides-box__list {
  list-style: none;
  height: 270px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 0px 13px;
  column-gap: 10px;
}
