.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.user-page__active-tab-text {
  margin-top: 20px;
  font-size: 1.45rem;
  font-weight: 600;
}

.user-page__book-cards-box {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 14px;
  row-gap: 13px;
}
