.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.user-page__active-tab-box {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-page__active-tab-text {
  font-size: 1.45rem;
  font-weight: 600;
}

.user-page__book-cards-box {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(3, 109px);
  column-gap: 14px;
  row-gap: 13px;
  min-width: 109px;
}

.user-page__book-cards-box .book-card__img-box :hover {
  transform: translateY(-20px);
}

.user-page__active-tab-box__logout-btn {
  padding: 5px 12px;
}

.user-page__no-user-text-box {
  margin-top: 30px;
  font-size: 2rem;
}

@media (min-width: 511px) {
  .user-page__book-cards-box {
    grid-template-columns: repeat(4, 109px);
  }
}

@media (min-width: 630px) {
  .user-page__book-cards-box {
    grid-template-columns: repeat(5, 109px);
  }
}

@media (min-width: 768px) {
  .user-page__active-tab-text {
    font-size: 2.1rem;
  }
  .user-page__book-cards-box {
    grid-template-columns: repeat(6, 109px);
  }
  .user-page__book-cards-box .book-card {
    zoom: 1.1;
  }
  .user-page__active-tab-box__logout-btn {
    font-size: 1.8rem;
    padding: 5px 16px;
  }
  .user-page__no-user-text-box {
    font-size: 2.4rem;
  }
}

@media (min-width: 900px) {
  .user-page__book-cards-box {
    grid-template-columns: repeat(7, 109px);
  }
}

@media (min-width: 1024px) {
  .user-page__book-cards-box {
    margin-top: 10px;
    grid-template-columns: repeat(7, 130px);
    min-width: 130px;
  }
  .user-page__book-cards-box .book-card {
    zoom: 1.3;
  }
  .user-page__no-user-text-box {
    font-size: 2.8rem;
  }
}

@media (min-width: 1200px) {
  .user-page__book-cards-box {
    grid-template-columns: repeat(8, 130px);
  }
}

@media (min-width: 1330px) {
  .user-page__book-cards-box {
    grid-template-columns: repeat(9, 130px);
  }
}
