.search-nav-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 35px;
}
.search-nav-btns {
  background: none;
  border: none;
  display: flex;
  color: black;
  font-size: 1.4rem;
}
